# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
함수 func()
method
___.method()

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

print(a.capitalize())


print(a.title())


print(a.upper())



#a는 그대로고 return 값만 주는거라서 print(a)하면 원본이 그대로 나옴 
# print(a)

### `.lower()`, `.swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.
a.lower()
a.swapcase()

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`

> 하나 하나 씩 뽑아버리는거 ? 빼버리는거임 ?

> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.
'!'.join('배고파')

In [1]:
number = ['1', '2']
a = ''.join(number)
print(a)
a

12

'12'

In [3]:
numb = {
    1:1,
    2:2,
    3:3
}
a = ''.join(numb)
print(a)
a

TypeError: sequence item 0: expected str instance, int found

In [2]:
numb = {
    '1':'a',
    '2':'b',
    '3':'3c'
}
a = ''.join(numb.values())
print(a)
a

ab3c

'ab3c'

In [ ]:
a = ['hi', 'hello']
''.join(a)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'yay!'.replace('a', '_')

In [ ]:
'Wooooooowoo'.replace('o', '!', 2)

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'                       oh!\n'.strip()

In [ ]:
'        oh!\n            '.lstrip()

In [ ]:
'hehehehehehehehhihihihihihihi'.rstrip('hi')

In [4]:
'aabbaabbaa'.strip('b')

'aabbaabbaa'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.find('p')

In [5]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.index('p')

In [ ]:
'apple'.index('q')

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

a = 'a_b_c'.split('_')
print(a)

In [ ]:
inputs = input().split()
print(inputs)

In [ ]:
a = 'Hi! Everyone, I\'M Kim'
a.istitle()

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuuper(), .istitle(), .islower()
```

```python
dir('string')
```

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
cafe = ['아아', '바닐라라떼', '카페라떼', '밀크티']

In [ ]:
# 값을 추가해봅시다.

cafe.append('녹차라떼')
print(cafe)

In [ ]:
# 어렵게 넣어보도록 해봅시다.
cafe[len(cafe):] = ['이디아']
print(cafe)

In [ ]:
result = []
result.append('apple')
print(result)

In [ ]:
result = []
result.extend('apple')
print(result)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
f = cafe.extend(['droptop', '빽다방'])
print(type(f))

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.
cafe += ['mccafe', 'burgerking']
print(cafe)

In [ ]:
# append와 비교해봅시다.
cafe.append(['append cafe']) #리스트 안에 리스트를 넣어주는거고
print(cafe)
print('------')
cafe.extend(['extend cafe']) #리스트 안 요소만 리스트에 넣어줌 
print(cafe)
print('------')

cafe.extend('extend string') #리스트의 글짜들을 넣음.. 
print(cafe)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
x = [1, 2, 3, 4, 5, 6]
x.insert(0, 7)
print(x)

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
cafe.insert(0, 'hi')
print(cafe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
cafe.insert(len(cafe), 'bye')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafe.insert(len(cafe)+100, '!')
print(cafe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
numbers.remove(1)

print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(7)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, **그 항목을 반환합니다.**

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
print(a.pop())

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
print(a.pop(0))
print(a)

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.  #마지막 항목을 삭제한다. 
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a} 이 되었습니다.')

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
a.index(3) # 2라는 답은 인덱스 3은 2번째 위치에 있다 이런뜻

In [ ]:
#.index()는 해당 값이 없을 시 valueerror 가 발생합니다.
a.index(100)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1000)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1, 2, 5, 1, 5, 1]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
print(a)

In [ ]:
target_value in a

### `.sort()`

정렬을 합니다. 

`sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# .sort() 를 사용해봅시다.

In [ ]:
import random
lotto = random.sample(range(1,46), 6)
print(lotto)

In [ ]:
lotto.sort()
print(lotto.sort())
print(lotto)

lotto.sort(reverse=True)
print(lotto)

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
classroom.reverse()
print(classroom)

## 복사

In [6]:
a = [1, 2, 3]
b = a
b[0] = 9
print(a)

[9, 2, 3]

In [7]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [8]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [9]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 5
print(original_list)

[5, 2, 3]

In [10]:
# id 값을 확인해봅시다.
copy_list is original_list
id(copy_list) == id(original_list)

True

In [11]:
# 숫자를 확인해봅시다.
a = 2005
b = a
a is b
# b = 30005
# print(a)

True

In [12]:
# 딕셔너리도 확인해봅시다.
lunch = {'김밥천국' : '치즈라면', '김가네': '제육볶음'}
dinner = lunch
dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [13]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [14]:
# 2차원 배열을 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 100
print(a)

[1, 2, [100, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [16]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

[1, 2, [1, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.
numbers = list(range(1, 100))
print(numbers)
numbers.clear()
print(numbers)

# List Comprehension

List comprehension 은 리스트 안에 식, for문을 지정합니다.


여러줄의 코드를 한 줄로 줄일 수 있습니다.


List를 만들 수 있는 간단한 방법입니다.

```python 

[식 for 변수 in iterable]


list(식 for 변수 in iterable)
```

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
# 기존의 방법
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension
cubic_list = [x**3 for x in range(1, 11)]
print(cubic_list)
#range 안에서 나와서 for 에 있는 x를 거치고 이 x가 x**3 이라는 식을 거쳐서 리스트에 채워짐

## List Comprehension + 조건문
```python 
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

#elif 는 다음과 같이 사용해야 합니다.

[식 if 조건식 else 식 if 조건식 else 식 for 변수 in iterable]

```

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
a = range(1, 11)

In [ ]:
# 기존의 방법
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

In [ ]:
# List Comprehension
even_list = [x for x in range(1, 11) if x%2==0]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys: #첨엔 보이가 되어어함 
    for girl in girls:
        pair.append((boy, girl)) #튜플로 동시에 들어가니까 
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.
pytha = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                pytha.append((x,y,z))
print(pytha)

In [ ]:
pytha = []
for x in range(1, 50):
    for y in range(1, 50):
        for z in range(1, 50):
            if x**2 + y**2 == z**2 and x<y<z<50:
                pytha.append((x,y,z))
print(pytha)

In [ ]:
# List comprehension을 활용하여 만들어주세요.


pytha = [(x,y,z) for x in range(1, 50) for y in range(x, 50) for z in range(y,50) if x**2 + y**2 == z**2]
print(pytha)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [17]:


#리스트를 스트링으로 만들어주는 방법 
word = ['a', 'e', 'i', 'o', 'u']
result = ''
for i in word:
    result += i
print(type(result))

<class 'str'>

In [ ]:
words = 'Life is too short, you need python!'
word = [aeiou

list_words = words.split()

# print(list(words))

list_words.remove(word)
print[list_words]

In [ ]:
result = []
for x in words:
    if x not in vowels:
        result.append(x)
print(''.join(result))

In [ ]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
vowels = 'aeiou'
result = [x for x in words if x not in vowels]
print(''.join(result))

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])` 

여기서 default는 none 값인데 여기선 key error 발생

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

my_dict.pop('apple')
print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', 0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {1 : '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict.update(apple='사과아아아', apple12312='가나다')
print(my_dict)

In [ ]:
my_dict.update(과자 = 'ah')
my_dict[2]='ㄱ'
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

In [ ]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('coconut', 0))

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

```python

{키: 값 for 키, 값 in 딕셔너리}

dict(키: 값 for 키, 값 in 딕셔너리)

{키, 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식(얘가 트루면 왼쪽이 값인 것) else 키: 값 for 키, 값 in 딕셔너리} #false 가 나올때 




```

In [ ]:
# dictionary comprehension
# 1: 1, 2: 8, 3: 27 
cubic = {x: x**3 for x in range(1,8)}
print(cubic)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
dusts.get('서울')
dusts['서울'] = 89

# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

for x, y in dusts.items():
    dust = {x: y}
    if y > 80:
#         dust
        print(dust)

In [ ]:
dust = {}
for x, y in dusts.items():
    if y > 80:
        dust[x] = y
print(dust)

In [ ]:
result = {key: value for key, value in dusts.items() if value > 80}
print(result)

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
result = {key: '나쁨' if value>80 else '보통' for key, value in dusts.items()}
print(result)

In [ ]:
result = {key: '나쁨' if value>80 else '보통' for key, value in dusts.items()}
print(result)

In [ ]:
# elif 도 사용할 수 있습니다.
result = {key: '매우나쁨' if value>150 else '나쁨' if value>80 else '보통' if value>30 else '좋음' for key, value in dusts.items()}
print(result)

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [1]:
# add를 사용해봅시다. 결과 값은 순서가 없고 중복이 되지 않는다. 
a = {'사과', '바나나', '수박'}
a.add('후리카케')
print(a)
a.add('후리카케')
print(a)

{'후리카케', '수박', '바나나', '사과'}
{'후리카케', '수박', '바나나', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [7]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}
a.update({'토마토','토마토','딸기'}, {'포도','사과', '레몬'})
print(a)

{'토마토', '레몬', '바나나', '포도', '딸기', '수박', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}
a.remove('사과')
print(a)
a.remove('파인애플')

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [12]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('바나나')
print(a)
a.discard('바나나')

{'수박', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [13]:
# pop을 사용해봅시다.
# 불변인 타입은 파이썬이 hash table 이라는 것으로 만드는데 이 has table에 특정한 정해진 순서가 존재합니다. 
# 현재 파이썬 실행환경에서 set.pop()이 계속 같은 이유는 처음 만들어진 set이 같은 hash table 값으로 이루어져있기 때문
# 파이썬 실행환경이 바뀌어야 pop으로 나오는 인자가 바뀐다(즉, 파이썬 실행환경이 바뀌면 만들어지는 hash table도 바뀌기 때문)
a = {'사과', '바나나', '수박', '아보카도'}
print(a.pop())
print(a)

수박
{'아보카도', '바나나', '사과'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [17]:
a, b = map(int, ['1', '2'])
print(a, b)

1 2

In [19]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [20]:
# list comprehension
new_numbers = ''.join([str(num) for num in numbers])
print(new_numbers)

123

In [21]:
# map
new_numbers = map(str,numbers)
print(new_numbers)
print(''.join(new_numbers))

<map object at 0x000001EA244943C8>
123

In [22]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [23]:
# list comprehension
list_number = [int(num) for num in numbers]
print(list_number)

[1, 2, 3]

In [24]:
# map
list_number = list(map(int, numbers))
print(list_number)

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [25]:
# 세제곱의 결과를 나타내는 함수
def cube(x):
    y = x**3
    return y

In [26]:
numbers = [1, 2, 3, 4, 5]
cube_num = list(map(cube, numbers))
print(cube_num)

[1, 8, 27, 64, 125]

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
list(zip(girls, boys))

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
#dictionary comprehension 먼저 하기 


result = {key: value for key in girls for value in boys}
print(result)

# 이렇게 하면 이중 for 문이기 때문에, key 는 유일해서 마지막 값을 덮어씌어진다.

In [ ]:
#zip
{girl: boy for girl, boy in zip(girls, boys)}

* 아래와 같이 사용가능하다.

In [28]:
a = '123'
b = '567'
for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)  #튜플로 매칭되어서 나옴

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [27]:
num1 = [1, 2, 3]
num2 = ['1', '2']
zip(num1, num2)
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1,num2, fillvalue=0))

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [29]:
# 홀수인지 판단하는 함수를 작성해봅시다.
def odd(n):
    return n % 2

In [30]:
numbers = [1, 2, 3, 4, 5]
list(filter(odd, numbers))

[1, 3, 5]

In [31]:
# 다음의 list comprehension과 동일하다.
[x for x in numbers if x % 2]

[1, 3, 5]

In [ ]:
[x for x in numbers if odd(x)]